html,
body {
  margin: 0;
  padding: 0;
}
html {

}
body {
  font-family: sans-serif;
}
header {
  background: #dddfed;
  background: -moz-radial-gradient(center, ellipse cover,  #dddfed 22%, #959ec9 100%);
  background: -webkit-radial-gradient(center, ellipse cover,  #dddfed 22%,#959ec9 100%);
  background: radial-gradient(ellipse at center,  #dddfed 22%,#959ec9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddfed', endColorstr='#959ec9',GradientType=1 );
  padding-top: 4rem;
  @media (min-width: #{$width-medium}) {
    padding-top: 6rem;
  }
}
figure {
  margin: 0 auto;
  max-width: 15rem;
  @media (min-width: #{$width-medium}) {
    max-width: 20rem;
  }
}
figcaption {

}
img {
  display: block;
  max-width: (100 / 16) + $spacing-unit;
  @media (min-width: #{$width-medium}) {
    max-width: (250 / 16) + $spacing-unit;
  }
}
h1,
h2,
h3 {

}
h1 {
  color: transparent;
  height: 0;
  width: 0;
}
h2 {

}
h3 {

}
p {

}
code {

}
pre {
  code {

  }
}
a {
  color: $purple;
}
footer {

}
