// colors

// purples
$purple: #353f7a; // standard (darker than purple medium)
$purple-light: #dddfed;
$purple-medium: #5c6aa5;
$purple-dark: #131431;

// greys
$grey-light: #eee;
$grey-dark: #555;
$grey-medium: #ccc;

// unit
$spacing-unit: 1rem;

// widths
$width-small: calc(100% - 2rem); // used for max widths
$width-medium: (700 / 16) + $spacing-unit;
$width-large: (900 / 16) + $spacing-unit;

html,
body {
  margin: 0;
  padding: 0;
}
html {

}
body {
  font-family: sans-serif;
}
header {
  background-color: $purple-medium;
  padding: 2rem 0;
  @media (min-width: #{$width-medium}) {
    padding: 4rem 0;
  }
}
figure {
  margin: 0 auto;
  max-width: $width-small;
  @media (min-width: #{$width-medium}) {
    max-width: $width-medium;
  }
}
figcaption {

}
img {
  display: block;
  max-width: (100 / 16) + $spacing-unit;
  @media (min-width: #{$width-medium}) {
    max-width: (250 / 16) + $spacing-unit;
  }
}
h1,
h2,
h3 {

}
h1 {

}
h2 {

}
h3 {

}
p {

}
code {

}
pre {
  code {

  }
}
a {
  color: $purple;
}
footer {

}
.scrolldir {
  &--top {

  }
  &--bottom {

  }
}

.main {

}
.header {

  &__description {

  }
  &__nav {

  }
  &__items {

  }
  &__item {

  }
}
.share {
  border-top: 1px solid $purple-light;
  &__link {
    display: inline-block;
  }
}
.section {

}
.footer {
  &__description {

  }
}

